@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-feature-settings: "palt";
  letter-spacing: 1.5px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.btn-primary {
  @apply flex font-medium items-center justify-center gap-3 w-full py-4 rounded-full bg-neutral-800 text-white text-sm hover:bg-neutral-600 transition disabled:opacity-30 disabled:cursor-not-allowed;
}

.btn-secondary {
  @apply flex font-medium items-center justify-center gap-3 w-full py-4 rounded-full border border-neutral-300 bg-white text-neutral-700 text-sm hover:bg-neutral-50 transition;
}
